sales-automation-n8n.json
{
  "name": "sales-automation-n8n",
  "nodes": [
    {
      "parameters": {
        "url": " https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "9d5c3c09d313c5a33c623389266ec504"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -32
      ],
      "id": "e1d7760f-b998-4f94-a68f-5af773bdc597",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tFkenlAE0cGZd38R",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bfb3785-9e2e-4368-bcbb-3dd5b4a28935",
              "leftValue": "processing",
              "rightValue": "={{ $json.orderStatus }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -32
      ],
      "id": "91e3f7da-e84b-41eb-9d6d-0d0cc0d114f3",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04d64217-0e33-475b-91ee-eaddf27a2385",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "dd476764-f517-44ec-a442-91d0bd465730",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -144
      ],
      "id": "03aff8ac-392b-4fa4-acc7-bb848f8bc357",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appbKlSTB3asAu8a4",
          "mode": "list",
          "cachedResultName": "Beginner Course",
          "cachedResultUrl": "https://airtable.com/appbKlSTB3asAu8a4"
        },
        "table": {
          "__rl": true,
          "value": "tbl8MMX9MejaJDcv8",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "https://airtable.com/appbKlSTB3asAu8a4/tbl8MMX9MejaJDcv8"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        256,
        -144
      ],
      "id": "7835a737-6fe9-4634-bb64-4b9c0863d8ee",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "iWmL76wWunRl44tD",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        48
      ],
      "id": "8f9e30ea-14db-48c3-bc67-ef519cd2309d",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {},
        "embeds": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        256,
        48
      ],
      "id": "b6a7e351-5eba-45d4-a820-104f32c406d0",
      "name": "Discord",
      "webhookId": "fe78b689-a171-4276-ab1a-4f7333787a89",
      "credentials": {
        "discordWebhookApi": {
          "id": "qK7c7t6ifvt03oxC",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -32
      ],
      "id": "64ef370f-b755-45e8-8341-293d72ff11e8",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b247863-c41c-4bd0-aafa-5d8cf8e48f34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7598f4cbdfab0d968cf5edb94dba2ee4ea50b3d6b103a9761c5cda2b1824fe0"
  },
  "id": "PvhHvZ16FxepncAf",
  "tags": []
}